.edit-product-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-block {
    width: 100%;
}


.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}

.btn-custom {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 9px;
}

.btn-primary {
    width: auto;
}