<div class="product-list-view">
    <div class="container mt-5">
        <h2 class="text-center">Listado de Productos</h2>
    
        <div *ngIf="error" class="alert alert-danger">
        <strong>Error al eliminar el producto!</strong> {{ error }}
        </div>
    
        <table class="table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>${{ product.price.toFixed(2) }}</td>
            <td>
                <button (click)="navigateToEdit(product)" class="btn btn-primary btn-sm me-2">Editar</button>
                <button (click)="handleDelete(product.id)" class="btn btn-danger btn-sm">Eliminar</button>
            </td>
            </tr>
        </tbody>
        </table>
    
        <div class="text-center mt-4">
        <button (click)="router.navigate(['/'])" class="btn btn-primary">
            Volver al Inicio
        </button>
        </div>
    </div>
</div>
